* {
   box-sizing: border-box;
   overflow: hidden;
   margin: 0;
   padding: 0;
   margin-top: 10px;
  background-color: #CCFFDA;
}

div {
  height: 100%;
  width: 100%;
  background-color: #c5b99e;
  background-image: radial-gradient(
      circle farthest-corner at top left,
      rgba(204, 255, 218, 1) 0%,
      rgba(204, 255, 218, 0) 50%
    ),
    radial-gradient(
      circle farthest-side at top right,
      rgba(204, 255, 218, 1) 0%,
      rgba(204, 255, 218, 0) 10%
    ),
    radial-gradient(
      circle farthest-corner at bottom right,
      rgba(249, 160, 115, 1) 0%,
      rgba(249, 160, 115, 0) 33%
    ),
    radial-gradient(
      circle farthest-corner at top right,
      rgba(155, 221, 240, 1) 0%,
      rgba(155, 221, 240, 0) 50%
    ),
    radial-gradient(
      ellipse at bottom center,
      rgba(68, 70, 229, 1) 0%,
      rgba(68, 70, 229, 0) 80%
    );
}

html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}


html {
  height: 100%;
}
body {
margin: 0;
height: 100%;
}